doctype html
html(ng-app='app')
	head
		title #{appTitle}
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='google-signin-client_id' content='' + googleSigninID)

		//-- this STYLES block contains automatically all css files that present in assets 'lib' folder, plus the importer.css, which imports all custom-compiled scss.
		// STYLES
		link(rel="stylesheet", href="/lib/angular-xeditable-0.8.0/css/xeditable.min.css")
		link(rel="stylesheet", href="/lib/bootstrap-select/bootstrap-select.min.css")
		link(rel="stylesheet", href="/lib/bootstrap-slider/bootstrap-slider.min.css")
		link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/lib/datatable/datatables.min.css")
		link(rel="stylesheet", href="/lib/perfect-scrollbar/perfect-scrollbar.css")
		link(rel="stylesheet", href="/styles/importer.css")
		// STYLES END

		//-- this SCRIPTS block contains automatically all js files that present in assets 'lib' and 'controller' folder
		// SCRIPTS
		script(src="/js/dependencies/sails.io.js")
		script(src="/lib/jquery/jquery.min.js")
		script(src="/lib/angular/angular.min.js")
		script(src="/lib/angular-xeditable-0.8.0/js/xeditable.min.js")
		script(src="/lib/angular/angular-animate.min.js")
		script(src="/lib/angular/angular-route.min.js")
		script(src="/lib/angular/angular-sanitize.min.js")
		script(src="/lib/angular/ngStorage.min.js")
		script(src="/lib/bignumber/bignumber.min.js")
		script(src="/lib/bootstrap-select/bootstrap-select.min.js")
		script(src="/lib/bootstrap-slider/bootstrap-slider.min.js")
		script(src="/lib/bootstrap/js/bootstrap.min.js")
		script(src="/lib/cleave/cleave-angular.min.js")
		script(src="/lib/clipboard/clipboard.min.js")
		script(src="/lib/datatable/jquery.dataTables.min.js")
		script(src="/lib/font-awesome/fontawesome-all.min.js")
		script(src="/lib/highchart/highstock.js")
		script(src="/lib/jscookie/js.cookie.js")
		script(src="/lib/perfect-scrollbar/perfect-scrollbar.min.js")
		script(src="/lib/ui-bootstrap/ui-bootstrap.min.js")
		script(src="/controllers/app.js")
		script(src="/controllers/dialog/edit-user-info-dialog.js")
		script(src="/controllers/login.js")
		script(src="/controllers/partials/navbar.js")
		script(src="/controllers/signup.js")
		script(src="/controllers/user/index.js")
		// SCRIPTS END

		//-- we can also add CDN js file here
		script(src='https://apis.google.com/js/platform.js')

	body
		//-- this following ng-init localizes any error that might occur in our app
		div(ng-controller='GlobalController' ng-init='init({' +
			'errors : {' +
				'"NETWORK_ERROR" : "' + __('NETWORK_ERROR') + '",' +
				'"SUCCESS" : "' + __('SUCCESS') + '",' +
				'"SYSTEM_ERROR" : "' + __('SYSTEM_ERROR') + '",' +
				'"INPUT_ERROR" : "' + __('INPUT_ERROR') + '",' +
				'"MALFORMED_REQUEST_ERROR" : "' + __('MALFORMED_REQUEST_ERROR') + '",' +
				'"NOT_FOUND_ERROR" : "' + __('NOT_FOUND_ERROR') + '",' +
				'"EMAIL_EXISTED_ERROR" : "' + __('EMAIL_EXISTED_ERROR') + '",' +
				'"UNKNOWN_OAUTH_PROVIDER" : "' + __('UNKNOWN_OAUTH_PROVIDER') + '",' +
				'"REQUEST_COOLDOWN_ERROR" : "' + __('REQUEST_COOLDOWN_ERROR') + '",' +
				'"NOT_SUPPORTED_ERROR" : "' + __('NOT_SUPPORTED_ERROR') + '",' +
				'"EMAIL_NOT_VERIFIED" : "' + __('EMAIL_NOT_VERIFIED') + '",' +
				'"DUPLICATED_ERROR" : "' + __('DUPLICATED_ERROR') + '",' +
				'"TOKEN_INVALID_ERROR" : "' + __('TOKEN_INVALID_ERROR') + '",' +
				'"NOT_AUTHENTICATED_ERROR" : "' + __('NOT_AUTHENTICATED_ERROR') + '",' +
				'"USER_STATE_ERROR" : "' + __('USER_STATE_ERROR') + '",' +
				'"WRONG_ASSET_TYPE" : "' + __('WRONG_ASSET_TYPE') + '",' +
				'},' +
			'config: {' +
				'"defaultLocale" : "' + defaultLocale + '",' +
				'"authorizationServer" : "' + authorizationServer + '",' +
				'"resourceServer" : "' + resourceServer + '",' +
			'}' +
		'})')

			//-- the block content can be overridden by other views. By default, it contains the viewport for SPA
			block content
				include ./partials/navbar
				div(ng-view='')

			//-- All dialogs must be manually included here, to be possible to access any where in the app (for e.g. nested in an other dialog)
			include ./dialogs/edit-user-info-dialog
