extends ./app

block content
    div.styles-emailVerificationConfirmation
        div.text-center.confirmation
            if success
                div Your email address has been verified. You can now start using ECC Exchange Platform.
            else
                div Failed to verify your email address. Reason: #{error.errorName}
