extends ./app

block content
	div.container.styles-signup(ng-controller='SignUpController as ctrl')
		fieldset(ng-disabled='ctrl.signingUp')
			div.panel.panel-default
				div.panel-heading
					div #{__('signup_dialog_header')}
				div.panel-body
					div.row
						div.col-xs-12.col-sm-6
							div.form-group
								label #{__('email_')}
								input.form-control(type='email' ng-model='ctrl.email')
							div.form-group
								label #{__('password_')}
								input.form-control(type='password' ng-model='ctrl.password')
						div.col-xs-12.col-sm-6
							div.text-center.visible-xs #{__('or_')}
							div.text-center
								label #{__('using_google_account')}
								div.text-center.google-login(ng-show='!ctrl.googleSignedIn')
									div.g-signin2(data-onsuccess="onSignIn")
								div.row(ng-show='ctrl.googleSignedIn')
									div.col-xs-4
										img.img-rounded(ng-src='{{ctrl.googleUser.Paa}}')
									div.col-xs-8
										div #{__('continue_as')}
										div {{ctrl.googleUser.ig}}
										a(href='' ng-click='ctrl.signOut()') #{__('using_other_account')}

				div.panel-footer
					div.text-right
						button.btn.btn-primary(ng-disabled='!ctrl.email || !ctrl.password || ctrl.signingUp' ng-click='ctrl.signUp("password", {email: ctrl.email, password: ctrl.password})')
							span(ng-show='ctrl.signingUp')
								i.fas.fa-spinner.fa-spin
							span(ng-hide='ctrl.signingUp')
								i.fas.fa-user-plus
							span &nbsp; #{__('continue_')}

			div.text-center.margin-top-15px
				a(href='/login') #{__('already_have_account_login')}
