script(type='text/ng-template' id='edit-user-info-dialog')
	fieldset(ng-disabled='processing')
		div(ng-init='init()')
			.modal-header
				button.close(type='button' ng-click='close()') &times;
				div.modal-title #{__('edit_user_info')}
			.modal-body
				div.form-group
					label #{__('firstname_')}
					input.form-control(ng-model='firstName')
				div.form-group
					label #{__('lastname_')}
					input.form-control(ng-model='lastName')
			.modal-footer
				div.row
					div.col-xs-6
						//-- for use if there are left-side buttons
					div.col-xs-6
						div.text-right
							button.btn.btn-sm.btn-primary(ng-disabled='!firstName || !lastName' ng-click='updateInfo()')
								span
									span(ng-hide='processing')
										i.fas.fa-save
									span(ng-show='processing')
										i.fas.fa-spinner.fa-spin
								span &nbsp; #{__('save_')}
