div.styles-user-index(ng-controller='UserIndexController as ctrl' ng-init='ctrl.init()')
	div.left-pane
		ul.nav.navbar-nav
			li(ng-class='{active: ctrl.selectedTab===0}')
				a(href='' ng-click='ctrl.selectTab(0)')
					i.fab.fa-bitcoin
			li(ng-class='{active: ctrl.selectedTab===1}')
				a(href='' ng-click='ctrl.selectTab(1)')
					i.fas.fa-history
			li(ng-class='{active: ctrl.selectedTab===2}')
				a(href='' ng-click='ctrl.selectTab(2)')
					i.fas.fa-user
	div.right-pane
		uib-tabset(active='ctrl.selectedTab')
			uib-tab(ng-show='ctrl.selectedTab===0')
				uib-tab-heading
					//-- as we trigger the uib-tab by external button, we don't specify anything here, and style the tab to be hidden
				//-- anything outside uib-tab-heading is considered tab content
				div.tab1
					div.tab-heading
						span #{__('tab1_')}
					div.loading(ng-show='ctrl.tabsConfig[0].loading')
						i.fas.fa-spinner.fa-spin
					div(ng-hide='ctrl.tabsConfig[0].loading')
						div.text-right.margin-bottom-15px
							button.btn.btn-sm.btn-primary(ng-click='ctrl.editUserInfo()')
								span
									i.fas.fa-pencil-alt
								span &nbsp; #{__('edit_')}
						div.user-info-table
							table.table.table-striped.table-hover
								tr
									td.header #{__('firstname_')}
									td
										span {{ctrl.tabsConfig[0].userInfo.firstName || "#{__('not_set')}"}}
								tr
									td.header #{__('lastname_')}
									td {{ctrl.tabsConfig[0].userInfo.lastName || "#{__('not_set')}"}}
								tr
									td.header #{__('email_')}
									td {{ctrl.tabsConfig[0].userInfo.email}}

			uib-tab(ng-show='ctrl.selectedTab===1')
				uib-tab-heading
				div.tab-heading
					span #{__('tab2_')}
				div #{__('tab2_content')}

			uib-tab(ng-show='ctrl.selectedTab===2')
				uib-tab-heading
				div.tab-heading
					span #{__('tab3_')}
				div #{__('tab3_content')}
