$leftPaneWidth: 100px;
$leftPanelColor: #555;

.styles-user-index {
    position: relative;
    .left-pane {
        position: fixed;
        padding-top: 60px;
        left: 0px;
        top: 0px;
        width: $leftPaneWidth;
        height: 100%;
        background: $leftPanelColor;

        .nav.navbar-nav li a {
            text-align: center;
            width: $leftPaneWidth;
            font-size: 40px;
            color: white;
            &:hover{
                color: $leftPanelColor;
                background-color: #AAA;
            }
        }
        .nav.navbar-nav li.active a{
            background-color: #ddd;
            color: $leftPanelColor;
        }

    }

    .right-pane {
        position: absolute;
        left: $leftPaneWidth;
        top: 0px;
        right: 0px;

        .nav.nav-tabs{
            display: none;
        }

        .tab-content{
            padding:25px 60px;
        }

        .tab-heading{
            font-weight:bold;
            text-transform: uppercase;
            color: darkgrey;
            font-size:24px;
            margin-bottom: 15px;
        }

        .loading{
            text-align:center;
            font-size: 50px;
            color: darkgrey;
        }

		.tab1{
			.user-info-table{
				.header{
					font-weight: bold;
				}
			}
		}
    }

    @media screen and (max-width: 768px){
        .left-pane{
            position: relative;
            padding-top:0px;
            height:auto;
            width:auto;
            ul.nav.navbar-nav{
                display: flex;
                margin: auto;
                li{
                    flex: 1;
                    display: inline-block;
                    a {
                        font-size: 20px;
                        width: 100%;
                    }
                }

            }
        }
        .right-pane{
            position: relative;
            left:0px;
            .tab-content{
                padding:15px;
            }

            .tab-heading{
                font-size: 16px;
            }
        }
    }

}
