html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.abcRioButton {
    margin: auto;
}

.unrow {
    padding: 0px 15px;
}

.login-panel {
    max-width: 600px;
    margin: auto;
}

.modal-title {
    font-weight: bold;
    font-size: 20px;
}

.text-bold {
    font-weight: bold;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.vf-center {
    align-self: center;
}

//-- margin
.margin-bottom-15px {
    margin-bottom: 15px;
}

.margin-right-15px {
    margin-right: 15px;
}

.margin-top-15px {
    margin-top: 15px;
}

.margin-left-15px {
    margin-left: 15px;
}

.margin-bottom-5px {
    margin-bottom: 5px;
}

.margin-right-5px {
    margin-right: 5px;
}

.margin-top-5px {
    margin-top: 5px;
}

.margin-left-5px {
    margin-left: 5px;
}

img.img-language {
    width: 30px;
    margin-right: 15px;
}

//-- this helps the dialog vertically middle
.modal {
    text-align: center;
    padding: 0 !important;
}

.modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header .header {
    font-weight: bold;
    font-size: 18px;
}

.modal-body {
    overflow-x: auto;
}
