.styles-index {
    .header {
        height: 600px;
        background-image: url('/images/index/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .header1 {
            text-align: center;
            color: white;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .header2 {
            text-align: center;
            color: white;
            font-size: 60px;
            margin-bottom: 80px;
        }
    }

    .properties {
        padding: 40px 0px;
        background: whitesmoke;
        .fa-icon {
            font-size: 100px;
            color: gray;
        }
        .block-content {
            .block-header {
                color: dimgray;
                font-weight: bold;
                font-size: 24px;
            }
            .block-description {
                margin-top: 10px;
                text-align: justify;
            }
        }
    }

    .footer {
        padding: 40px 0px;
        background: #333;
        color: white;

        .content-block {
            margin-bottom: 10px;
            .content-header {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                color: silver;
                border-bottom: 1px solid;
                margin-bottom: 5px;
                border-color: #666;
            }
            .content {
            }
        }
    }

    .copyright {
        background: black;
        color: white;
        padding: 10px;
    }

    @media screen and (max-width: 768px) {
        .header {
            height: 400px;
            .header1 {
                font-size: 12px;
            }
            .header2 {
                font-size: 20px;
            }
            .header3 .btn {
                margin-right: 0px;
                width: 260px;
            }
        }

        .properties {
            padding: 20px 10px;
        }
    }

}
