.styles-login {
    margin-top:100px;
    .g-signin2.disabled {
        pointer-events: none;
        .abcRioButtonContentWrapper{
            background: lightgrey;
        }
    }

    .register{
        margin-top:20px;
    }
}
