.styles-home-page2{

	.header{
		text-align: center;
		padding-top: 50px;
		font-size: 40px;
		color: orangered;
	}

	@media screen and (max-width: 768px){
		.header{
			font-size: 16px;
			padding-top: 20px;
		}
	}
}
