block style
	style.
		.text-right{
			text-align: right;
		}
		.text-center{
			text-align: center;
		}
		.separator{
			margin: 20px 0px;
		}
		.margin-top-15px{
			margin-top: 15px;
		}
		.margin-bottom-15px {
			margin-top: 15px;
		}
		.full-width{
			width: 100%
		}
		.bold-text{
			font-weight:bold;
		}
		.font-mono{
			font-family: monospace;
		}
		.link-button {
			margin: 20px auto;
			display: inline-block;
		}

		.container {
			font-size:14px;
			background: whitesmoke;
			padding:15px 30px;
			margin:auto;
			width:90%;
			display: block;
			position: relative;
		}

		.container .header .header-left {
			font-size: 24px;
			font-weight: bold;
			color: gold;
		}

		.container .header .header-right {
			text-align: right;
			font-weight: bold;
		}

		.container .body {
			padding: 5px;
			padding-top:20px;
			display: block;
			position: relative;
			width:100%;
		}

div.container
	div.header
		block header
			table.full-width
				tr
					td.header-left
						block header-left
							span Boilerplate Sails Angular SPA
					td.header-right
						block header-right

	div.body
		block body
	div.footer
		block footer
